* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  height: 7.4375rem;
  padding: 0rem 3rem;
}

.section1-index {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 32vh);
}
.section1-index .texto-section1-index {
  display: flex;
  align-items: center;
  gap: 6.25rem;
  grid-column: 2/4;
  grid-row: 2/3;
  order: 2;
}
.section1-index .texto-section1-index .texto1 {
  width: 25rem;
  height: 21.625rem;
}
.section1-index .texto-section1-index .texto1 h1 {
  font-weight: 700;
  font-size: 6rem;
  color: none;
}
.section1-index .texto-section1-index .texto1 h1 img {
  padding-bottom: 4rem;
  padding-left: 0.3125rem;
}
.section1-index .texto-section1-index .boton {
  width: 20rem;
  aspect-ratio: 4/1;
  background-color: white;
  border: solid 0.0625rem rgb(248, 98, 63);
  border-radius: 2.1875rem;
  display: flex;
  justify-content: center;
}
.section1-index .texto-section1-index .boton:hover {
  background-color: rgb(248, 98, 63);
  border: solid 0.0625rem white;
}
.section1-index .texto-section1-index .boton a {
  font-weight: 600;
  font-size: 2.5rem;
  color: rgb(248, 98, 63);
  text-decoration: none;
  padding: 0.625rem 3.125rem;
  text-wrap: nowrap;
}
.section1-index .texto-section1-index .boton a:hover {
  color: white;
}
.section1-index .imagen1 {
  grid-column: 1/5;
  grid-row: 1/4;
  order: 1;
}
.section1-index .imagen1 img {
  height: 100%;
  width: 100%;
}

.section2-index {
  padding-right: 6.25rem;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/patin.png");
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center;
  gap: 6rem;
}
.section2-index p {
  width: 26.625rem;
  height: 14.1875rem;
  font-weight: 600;
  font-size: 3rem;
  color: none;
  letter-spacing: -0.1875rem;
}

.section3-index {
  width: 100%;
  background-image: url("../assets/fondoBloque3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  padding: 3.125rem 0;
}
.section3-index h2 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
}
.section3-index .contenedorForm {
  padding: 3.4375rem 5.5rem;
  width: 70%;
  border: solid 3px;
  border-color: white;
  border-radius: 2.1875rem;
  background-color: white;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  gap: none;
}
.section3-index .contenedorForm .formGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  gap: 3.625rem;
}
.section3-index .contenedorForm .formGroup input {
  outline: none;
  padding: 0.9375rem;
  border-radius: 1.5625rem;
  border: solid 3px;
  border-color: white;
  background-color: transparent;
  font-weight: 500;
  font-size: 2.25rem;
  color: white;
  width: 100%;
}
.section3-index .contenedorForm .formGroup ::placeholder {
  color: white;
  opacity: 1;
}

.consulta input {
  height: 10rem;
}
.consulta ::placeholder {
  display: flex;
  position: relative;
  bottom: 2.8125rem;
}

.botonEnviar {
  width: 26.25rem;
  height: 4.3125rem;
  background-color: rgb(248, 98, 63);
  border-radius: 2.1875rem;
  margin: 4rem;
}
.botonEnviar p {
  font-weight: 500;
  font-size: 2.25rem;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
}

.section1-services {
  width: 100%;
  background-image: url("../assets/fondoServices.png");
  background-size: cover;
  background-position: center;
  padding: 0rem 5rem;
  padding-bottom: 5rem;
}
.section1-services h1 {
  font-weight: 600;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 3.75rem;
}
.section1-services h1 span {
  color: rgb(248, 98, 63);
}
.section1-services .cards {
  padding: 0rem 3.125rem;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 70vh;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.section1-services .cards article {
  width: 100%;
  height: auto;
  border-radius: 3.9375rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  gap: none;
}
.section1-services .cards article ul {
  font-weight: 300;
  font-size: 2.25rem;
  color: rgb(22, 0, 109);
  list-style: none;
  padding-left: 5.5625rem;
}
.section1-services .cards article ul li {
  margin-bottom: 1.125rem;
}

.socialMedia h2 {
  padding: 0rem 16.0625rem 4.3125rem 5.0625rem;
  font-weight: 600;
  font-size: 4rem;
  text-align: left;
  color: rgb(22, 0, 109);
}

.illustration h2 {
  padding: 0rem 16.0625rem 8rem 3.375rem;
  font-weight: 600;
  font-size: 4rem;
  color: rgb(22, 0, 109);
}

.webDesign h2 {
  padding: 0rem 16.0625rem 4.3125rem 5.0625rem;
  font-weight: 600;
  font-size: 4rem;
  text-align: left;
  color: rgb(248, 98, 63);
}

.motionGraphics h2 {
  padding: 0rem 16.0625rem 4.3125rem 5.0625rem;
  font-weight: 600;
  font-size: 4rem;
  color: rgb(248, 98, 63);
}

.section1-work {
  width: 100%;
}
.section1-work .titulo-work {
  background-image: url("../assets/fondoOurWork.png");
  background-size: cover;
  background-position: center;
}
.section1-work .titulo-work h1 {
  font-weight: 600;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 3.75rem;
  margin: 0rem;
}
.section1-work .titulo-work h1 span {
  color: rgb(248, 98, 63);
}
.section1-work .fotos-work {
  display: flex;
  flex-direction: column;
}
.section1-work .fotos-work .foto {
  display: flex;
  height: 32.125rem;
}
.section1-work .fotos-work .foto img {
  width: 100%;
}

.section1-about {
  width: 100%;
  height: 55.6875rem;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/bloque1About.png");
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.section1-about .texto-section1-about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  gap: 1.875rem;
  padding-top: 6.25rem;
}
.section1-about .texto-section1-about h1 {
  font-weight: 700;
  font-size: 6rem;
}
.section1-about .texto-section1-about p {
  width: 39.4375rem;
  font-weight: 300;
  font-size: 2rem;
}

.section2-about {
  display: flex;
  flex-direction: column;
}
.section2-about .sofia {
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
.section2-about .sofia .fotoPerfil {
  display: flex;
  justify-content: right;
}
.section2-about .sofia .nombre {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1.875rem;
}
.section2-about .sofia .nombre h2 {
  font-weight: 700;
  font-size: 6rem;
  color: black;
}
.section2-about .sofia .nombre p {
  width: 45.625rem;
  font-weight: 300;
  font-size: 2rem;
}
.section2-about .mauge {
  width: 100%;
  padding: 5rem;
  background-color: rgb(142, 89, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
.section2-about .mauge .fotoPerfil {
  display: flex;
  justify-content: right;
}
.section2-about .mauge .nombre {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1.875rem;
}
.section2-about .mauge .nombre h2 {
  font-weight: 700;
  font-size: 6rem;
  color: white;
}
.section2-about .mauge .nombre p {
  width: 45.625rem;
  font-weight: 300;
  font-size: 2rem;
  color: white;
}
.section2-about .cami {
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
.section2-about .cami .fotoPerfil {
  display: flex;
  justify-content: right;
}
.section2-about .cami .nombre {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0.5rem;
}
.section2-about .cami .nombre h2 {
  font-weight: 700;
  font-size: 6rem;
  color: black;
}
.section2-about .cami .nombre p {
  width: 45.625rem;
  font-weight: 300;
  font-size: 2rem;
}

.section1-contact {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/fondoBloque3.png");
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: none;
}
.section1-contact .texto-section1-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3.875rem;
  padding: 7.5rem;
}
.section1-contact .texto-section1-contact h1 {
  font-weight: 700;
  font-size: 6rem;
  color: white;
}
.section1-contact .texto-section1-contact h1 img {
  padding-bottom: 4rem;
  padding-left: 0.3125rem;
}
.section1-contact .texto-section1-contact p {
  width: 46.875rem;
  height: 11.1875rem;
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  color: white;
}
.section1-contact .texto-section1-contact p span {
  font-weight: 600;
}
.section1-contact .mainContainer {
  display: flex;
  justify-content: center;
}
.section1-contact .mainContainer .contenedorForm2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.4375rem 5.5rem;
  border: solid 3px;
  border-color: white;
  border-radius: 2.1875rem;
  background-color: azure;
  background-color: rgba(255, 255, 255, 0);
}
.section1-contact .mainContainer .contenedorForm2 .formGroup2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3.635rem;
}
.section1-contact .mainContainer .contenedorForm2 .formGroup2 input {
  outline: none;
  padding: 0.9375rem;
  border-radius: 1.5625rem;
  border: solid 3px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 500;
  font-size: 2.25rem;
  color: white;
  width: 65.625rem;
}

::placeholder {
  color: white;
}

.botonEnviar2 {
  width: 26.25rem;
  height: 4.3125rem;
  background-color: rgb(248, 98, 63);
  border-radius: 2.1875rem;
  margin: 4rem;
}
.botonEnviar2 p {
  font-weight: 500;
  font-size: 2.25rem;
  color: white;
  text-align: center;
  padding-top: 0.3125rem;
}

footer {
  width: 100%;
  height: auto;
  padding: 1.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(22, 0, 109);
}
footer .section1-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: none;
}
footer .section1-footer .redes {
  display: flex;
  gap: 0.625rem;
}
footer .section2-footer p {
  text-align: center;
  color: rgba(255, 255, 255, 0.59);
}

.nav-item {
  font-weight: 300;
  font-size: 1.5rem;
}
.nav-item a {
  color: black;
}
.nav-item a:hover {
  color: rgb(248, 98, 63);
}

@media (max-width: 1024px) {
  /* INDEX */
  .texto-section1-index {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: none;
    gap: 3.75rem;
  }
  .boton {
    position: relative;
    right: 2rem;
  }
  .section2-index {
    height: 70rem;
    background-image: url("../assets/patinResponsive.png");
    background-position-y: 20%;
    justify-content: center;
    padding: 0rem;
  }
  .section2-index p {
    text-align: center;
    color: white;
    position: relative;
    top: 20rem;
  }
  /* SERVICES*/
  .section1-services {
    padding: 0rem 8.75rem;
  }
  .section1-services .cards {
    grid-auto-rows: 50vh;
    padding-bottom: 3.75rem;
  }
  .section1-services .cards .services article {
    margin-bottom: 0.625rem;
  }
  /* WORK */
  .fotos-work .foto {
    flex-direction: column;
    height: fit-content;
  }
  .fotos-work .foto img {
    height: 50%;
    width: 50%;
  }
  /* ABOUT */
  .section1-about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/about-mq1024.png");
    text-align: center;
  }
  .section2-about .sofia .fotoPerfil img {
    width: 20rem;
    height: 20rem;
  }
  .section2-about .sofia .nombre {
    gap: 1.5rem;
  }
  .section2-about .sofia .nombre h2 {
    font-size: 4rem;
  }
  .section2-about .sofia .nombre p {
    font-size: 1.5rem;
    width: 30rem;
  }
  .section2-about .mauge .fotoPerfil img {
    width: 20rem;
    height: 20rem;
  }
  .section2-about .mauge .nombre {
    gap: 1.5rem;
  }
  .section2-about .mauge .nombre h2 {
    font-size: 4rem;
  }
  .section2-about .mauge .nombre p {
    font-size: 1.5rem;
    width: 30rem;
  }
  .section2-about .cami .fotoPerfil img {
    width: 20rem;
    height: 20rem;
  }
  .section2-about .cami .nombre {
    gap: 1rem;
  }
  .section2-about .cami .nombre h2 {
    font-size: 4rem;
  }
  .section2-about .cami .nombre p {
    font-size: 1.5rem;
    width: 30rem;
  }
  /* CONTACT */
  .section1-contact .texto-section1-contact {
    padding: 4.375rem;
  }
  .section1-contact .mainContainer .contenedorForm2 .formGroup2 input {
    width: 45.625rem;
    font-size: 1.875rem;
  }
  ::placeholder {
    font-size: 1.875rem;
  }
}
@media (max-width: 768px) {
  /* INDEX */
  header {
    padding: 0.3125rem 2rem;
  }
  header .navbar-brand img {
    height: 3.125rem;
  }
  .formGroup input {
    font-size: 1.75rem;
  }
  .section1-footer :first-child img {
    height: 3.125rem;
  }
  footer .section2-footer p {
    font-size: 0.9375rem;
    top: 1.25rem;
  }
}
/* SERVICES*/
.section1-services {
  padding: 0rem 5rem;
}
.section1-services h1 {
  font-size: 2.5rem;
}
.section1-services .cards h2 {
  font-size: 3rem;
}
.section1-services .cards li {
  font-size: 2rem;
}

.motionGraphics h2 {
  color: rgb(22, 0, 109);
  padding: 0rem 16.0625rem 2rem 5.0625rem;
}

.illustration h2 {
  color: rgb(248, 98, 63);
  padding: 0rem 16.0625rem 4rem 3.375rem;
}

.socialMedia h2 {
  padding: 0rem 16.0625rem 2rem 5.0625rem;
}

.webDesign h2 {
  padding: 0rem 16.0625rem 2rem 5.0625rem;
}

/* WORK*/
.section1-work .titulo-work h1 {
  font-size: 2.5rem;
}

/* ABOUT*/
.section1-about {
  flex-direction: column;
  gap: 1.875rem;
}
.section1-about .texto-section1-about h1 {
  font-size: 3.5rem;
}
.section1-about .texto-section1-about p {
  font-size: 1.5rem;
  width: 31.25rem;
}
.section1-about .imagen-section1-about img {
  height: 75%;
}

.section2-about .sofia {
  flex-direction: column;
}
.section2-about .sofia .nombre {
  justify-content: center;
  text-align: center;
}
.section2-about .mauge {
  flex-direction: column;
}
.section2-about .mauge .nombre {
  justify-content: center;
  text-align: center;
}
.section2-about .cami {
  flex-direction: column;
}
.section2-about .cami .nombre {
  justify-content: center;
  text-align: center;
}

/* CONTACT*/
.section1-contact .texto-section1-contact {
  gap: 1.875rem;
}
.section1-contact .texto-section1-contact h1 {
  font-size: 4.5rem;
}
.section1-contact .texto-section1-contact p {
  font-size: 1.5rem;
  width: 35rem;
}

.section1-contact .mainContainer .contenedorForm2 .formGroup2 input {
  width: 31.25rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}

::placeholder {
  font-size: 1.5rem;
}

.botonEnviar2 {
  width: 13.5rem;
  height: 2.875rem;
}
.botonEnviar2 p {
  font-size: 1.5rem;
}

@media (max-width: 376px) {
  /* INDEX */
  .section1-index .texto-section1-index {
    grid-column: 2/4;
    grid-row: 2;
    gap: 0rem;
  }
  .section1-index .texto-section1-index .texto1 {
    width: 9.875rem;
  }
  .section1-index .texto-section1-index .texto1 h1 {
    font-size: 2.25rem;
  }
  .section1-index .texto-section1-index .texto1 h1 span img {
    position: relative;
    bottom: 1.125rem;
    height: 0.9375rem;
    padding-bottom: 0rem;
    padding-left: 0.1875rem;
  }
  .section1-index .texto-section1-index .boton {
    width: 10rem;
    right: 0px;
  }
  .section1-index .texto-section1-index .boton a {
    font-size: 1rem;
    padding: 0.3125rem 1.5625rem;
  }
  .section2-index {
    height: 90vh;
  }
  .section2-index p {
    font-size: 1.5625rem;
    width: 15.625rem;
    height: 6.5625rem;
    letter-spacing: -0.0625rem;
    top: 11rem;
  }
  .section3-index h2 {
    font-size: 1.125rem;
  }
  .section3-index .contenedorForm {
    padding: 1.5625rem 2.75rem;
    width: 90%;
    border: solid 0.0625rem;
    border-color: white;
  }
  .section3-index .contenedorForm .formGroup {
    gap: 1.25rem;
  }
  .section3-index .contenedorForm .formGroup input {
    font-size: 0.75rem;
    border: solid 0.0625rem;
    border-radius: 1rem;
    font-size: 1.25rem;
  }
  .section3-index .contenedorForm ::placeholder {
    font-size: 1.25rem;
  }
  .botonEnviar {
    margin: 1.25rem;
    width: 12.5rem;
    height: 1.875rem;
  }
  .botonEnviar p {
    padding: 0.1875rem;
    font-size: 0.875rem;
  }
  footer .section1-footer {
    height: auto;
    padding: 1.5rem;
    font-size: 0.875rem;
  }
  footer .section1-footer .logo-footer img {
    height: 1.875rem;
  }
  footer .section1-footer .redes {
    position: relative;
    gap: 0.125rem;
  }
  footer .section1-footer .redes img {
    height: 1.25rem;
  }
  footer .section1-footer .redes p {
    display: none;
  }
  footer .section2-footer p {
    font-size: 0.625rem;
    top: 1.25rem;
  }
}

/*# sourceMappingURL=style.css.map */
