@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajustado */
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* header */
header {
    width: 100%;
    height: 7.4375rem;
    padding: 0rem 3rem;

}

.logo {
    width: 11.9375rem;
    height: 3.5625rem;
}


.nav-item{
    font-weight: 300;
    font-size: 1.5rem;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: rgb(248, 98, 63) ;
}

/* bloque1 */

.textoBloque1{
    display: flex;
    align-items: center;
    gap: 6.25rem;
    grid-column: 2/4;
    grid-row: 2/3;
    order: 2;
}



.bloque1{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 32vh);

}

.imagen1{
    grid-column: 1/5;
    grid-row: 1/4;
    order: 1;
}



.imagen1 img{
    height: 100%;
    width: 100%;    
}
.texto1 {
    width: 25rem;
    height: 21.625rem;

    
}
.bloque1 h1 {
    font-weight: 700;
    font-size: 6rem;
}

.boton {
    width: 20rem;
    aspect-ratio: 4/ 1;
    background-color: white;
    border: solid 0.0625rem rgb(248, 98, 63);
    border-radius: 2.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.boton a {
    font-weight: 600;
    font-size: 2.5rem;
    color: rgb(248, 98, 63);
    text-decoration: none;
    padding: .625rem 3.125rem;
    text-wrap: nowrap;
}

.boton:hover{
    background-color: rgb(248, 98, 63);
    border: solid 0.0625rem white;
}

.boton a:hover{
    color: white;
}


/* bloque2 */

.bloque2 {
    padding-right: 6.25rem;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/patin.png");
    display:flex;
    justify-content: right;
    align-items: center;
    gap: 6rem;
}


.imagen2{
    height: 100%;
}


.bloque2 p {
    width: 26.625rem;
    height: 14.1875rem;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: -0.1875rem;
    
}

/* bloque3 */
.bloque3 {
    width: 100%;
    background-image: url("../assets/fondoBloque3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
    padding: 3.125rem 0 ;
}


.bloque3 h2 {
    font-weight: 700;
    font-size: 3rem;
    color: white;
}

.contenedorForm{
    padding: 3.4375rem 5.5rem;
    width: 70%;
    border: solid 3px;
    border-color: white;
    border-radius: 2.1875rem;
    background-color: azure;
    background-color: rgba(255, 255, 255, 0%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.formGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.625rem;
}


.formGroup input {
    outline: none;
    padding: .9375rem;
    border-radius: 1.5625rem;
    border: solid 3px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0%);
    font-weight: 500;
    font-size: 2.25rem;
    font-family: Montserrat;
    color: white;
    width: 100%;
    
}

.consulta input{
    height: 10rem;
}

.consulta ::placeholder{
    display: flex;
    position: relative;
    bottom: 2.8125rem;
}

::placeholder {
    color: white;
    opacity: 1; 
}


.botonEnviar{
    width: 32.625rem;
    height: 69p;
    background-color:rgb(248, 98, 63); ;
    border-radius: 2.1875rem;
    display: flex;
    justify-content: center;
}

.botonEnviar p{
    padding: .9375rem;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 2.25rem;
    color: white;
    padding-bottom: .125rem;
}




/* footer */



footer {
    width: 100%;
    height: 15.9375rem;
    padding:3rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(22, 0, 109);
}

.footer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
display: flex;
gap: .625rem;

}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 59%);
    position: relative;
    top: 3.75rem
}


/* SERVICES*/


.services {
    width: 100%;
    background-image: url("../assets/fondoServices.png");
    background-size: cover;
    background-position: center;
    padding: 0rem 5rem;
    padding-bottom: 5rem;
}

.services h1 {
    font-weight: 600;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 3.75rem;
}


.services h1 span{
    color:rgb(248, 98, 63);
}


.articles{
    padding: 0rem 3.125rem;
    display:grid;
    gap: 1rem;
    grid-auto-rows: 70vh ;
    grid-template-columns:  repeat(auto-fit, minmax(30rem, 1fr))
}

.services article {
    width: 100%;
    height: auto;
    border-radius: 3.9375rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.socialMedia h2 {
    padding: 0rem 16.0625rem 4.3125rem 5.0625rem;
    font-weight: 600;
    font-size: 4rem;
    text-align: left;
    color: rgb(22, 0, 109);
}

.illustration h2 {
    padding: 0rem 16.0625rem 8rem 3.375rem;
    font-weight: 600;
    font-size: 4rem;
    color: rgb(22, 0, 109);
}

.webDesign h2 {
    padding: 0rem 16.0625rem 4.3125rem 5.0625rem;
    font-weight: 600;
    font-size: 4rem;
    text-align: left;
    color: rgb(248, 98, 63);
}

.motionGraphics h2 {
    padding: 0rem 16.0625rem 4.3125rem 5.0625rem;
    font-weight: 600;
    font-size: 4rem;
    color: rgb(248, 98, 63);
}

.services article ul {
    font-weight: 300;
    font-size: 2.25rem;
    color: rgb(22, 0, 109);
    list-style: none;
    padding-left: 5.5625rem;
}

.services article ul li {
    margin-bottom: 1.125rem;
}

/* WORK */


.ourWork {
    width: 100%;
}

.titulo {
    background-image: url("../assets/fondoOurWork.png");
    background-size: cover;
    background-position: center;
}

.work{
    display: flex;
    flex-direction: column;
}


.ourWork h1 {
    font-weight: 600;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 3.75rem;
    margin: 0rem;
}


.ourWork h1 span{
    color:rgb(248, 98, 63);
}

.foto{
    display: flex;
    height: 32.125rem;
}


.foto img{
    width: 100%;
}


/* About */


.whoWeAre {
    width: 100%;
    height: 55.6875rem;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/bloque1About.png");
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;

}

.textoAbout{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    justify-content: center;
    padding-top: 6.25rem

}

.whoWeAre h1 {
    font-weight: 700;
    font-size: 6rem;
}

.whoWeAre p {
    width: 39.4375rem;
    height: 14.5625rem;
    font-weight: 300;
    font-size: 2rem;
}


.personas{
    display: flex;
    flex-direction: column;
}


.personas div{
    width: 100%;
    padding: 3.125rem;
    display: flex;
}

.fotoPerfil{
justify-content: right;
width: 100%;
height: 100%;

}

.nombre{
    display: flex;
    flex-direction: column; 
    justify-content: left;
    gap: 1.875rem;
}


.personas h2{
    font-weight: 700;
    font-size: 6rem;
    color: black;
}

.personas p{
    width: 42.625rem;
    height: 12.125rem;
    font-weight: 300;
    font-size: 2rem;
}

.mauge h2{
    color: white;
}

.mauge{
    background-color: rgb(142, 89, 255);
    color: white;
}



/* Contact */

.contact{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/fondoBloque3.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}


.letsTalk h1{
    font-weight: 700;
    font-size: 6rem;
    color: white;
}

.letsTalk p{
    width: 46.875rem;
    height: 11.1875rem;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    color: white;
}


.letsTalk p span{
font-weight: 600;
}


.letsTalk{
display: flex;
flex-direction: column;
align-items: center;
padding: 7.5rem;
gap: 3.875rem;
}

.mainContainer{
display: flex;
justify-content: center;


}

.contenedorForm2{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 3.4375rem 5.5rem;
    border: solid 3px;
    border-color: white;
    border-radius: 2.1875rem;
    background-color: azure;
    background-color: rgba(255, 255, 255, 0%);
}


.formGroup2{
    display: flex;
    flex-direction: column;
    gap: 3.625rem;
}


.formGroup2 input {
    outline: none;
    padding: .9375rem;
    border-radius: 1.5625rem;
    border: solid 3px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0%);
    font-weight: 500;
    font-size: 2.25rem;
    font-family: Montserrat;
    color: white;
    width: 65.625rem;
    
}

.botonEnviar2{
    width: 26.25rem;
    height: 4.3125rem;
    background-color:rgb(248, 98, 63) ;
    border-radius: 2.1875rem;
    margin: 4rem;
}

.botonEnviar2 p{
    padding: .8125rem;
    font-weight: 500;
    font-size: 2.25rem;
    color: white;
    text-align: center;
}


/* RESPONSIVE */


@media (max-width: 1024px){
    
/* INDEX */


    .textoBloque1{
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 3.75rem;
    }
    
    .boton{
        position: relative;
        right: 2rem;
    }
    .bloque1 h1 {
        font-weight: 700;
        font-size: 5rem;

        }
    
        
        .bloque2{
            height: 70rem;
            background-image: url("../assets/patinResponsive.png");
            background-position-y: 20%;
            justify-content: center;
            padding: 0rem;
        }
        
        .bloque2 p {
            text-align: center;
            color: white;
            position: relative;
            top: 20rem;
            
        }

        /* SERVICES*/
        
        .services{
            padding: 0rem 8.75rem;
        }
        .articles{
            grid-auto-rows: 50vh ;
        }
        
        .services article {
            margin-bottom: .625rem;
        }

     /* WORK */

     .foto{
       flex-direction: column;
       height:fit-content;
     }
    
     .foto img{
     height: 60vh
     }







    }


        @media (max-width: 768px){
        /* INDEX */
        header{
        padding: .3125rem;
        }
        
        .formGroup input {
                font-size: 1.75rem;
        }

        /* SERVICES*/
        
        .services h1{
            font-size: 2.5rem;
        }

        .services{
            padding: 0rem 5rem;
            padding-bottom: 5rem;
        }


        .services article{
            padding-top: 1.25rem;
        }

        .articles h2{
            font-size: 3rem;
        }

        .articles li{
            font-size: 2rem;
        }

        
        .motionGraphics h2{
            color: rgb(22, 0, 109);
            padding: 0rem 16.0625rem 2rem 5.0625rem;
        }

        
        .illustration h2{
            color:rgb(248, 98, 63);
            padding: 0rem 16.0625rem 4rem 3.375rem;
        }

        .socialMedia h2 {
            padding: 0rem 16.0625rem 2rem 5.0625rem;
          
        }
        
        
        .webDesign h2 {
            padding: 0rem 16.0625rem 2rem 5.0625rem;
    
        }
        

        .ourWork  h1 {
            font-size: 2.5rem;
        }


    }
    

    @media (max-width: 376px){
  
      /* INDEX */
      
    .textoBloque1{
        gap: 3.25rem;
    }
    
    .texto1 {
        width: 9.875rem;
        height: 7.3125rem;
    }

    .bloque1 h1 {
        font-size: 2.25rem;
    }
    
    .boton {
        width: 10rem; 
        right:0px;

    }
    
    .boton a {
        font-size: 1rem;
        padding: .3125rem 1.5625rem;
    }
    
    .bloque2{
        height: 90vh;
    }
    
    .textoBloque2 p{
    font-size: 1.5625rem;
    }

    .bloque2 p {
        width: 15.625rem;
        height: 6.5625rem;
        letter-spacing: -0.0625rem;
        top: 11rem;
    }
    

    .bloque3 h2{
        font-size: 1.125rem;
    }

    .contenedorForm{
        padding: 1.5625rem 2.75rem;
        width: 90%;
        border: solid .0625rem;
        border-color: white;
    }
    .formGroup{
        gap: 1.25rem;

    }

    .formGroup input {
        font-size: .75rem;
        border: solid .0625rem;
        border-radius: 1rem;
    }

    .consulta input{
        height: 6.25rem;
    }
    
    .consulta ::placeholder{
        bottom: 1.5625rem;
     }

     .botonEnviar{
        width: 12.5rem;
        height: 1.875rem;
    }
    
    .botonEnviar p{
        padding: .1875rem;
        font-size: .875rem
    }

    footer {
        height: auto;
        padding:1.5rem;
        font-size: .875rem;
    }

    
    .logoBlanco1 img{
    height: 1.875rem;
    }



    .redes {
    position: relative;
    gap: .0125rem;
    }

    
    .redes p{
    display: none;
    }


    .redes img{
        width: 60%;
        height: auto;

    }
    .copyright {
        font-size: .625rem;
        top: 1.25rem
    }

    


/* SERVICES*/


.services h1{
    font-size: 1.25rem;
}

.articles{
    padding: 0rem  1.5rem;
    display:grid;
    gap: 1rem;
    grid-auto-rows: 60vh ;
    grid-template-columns:  repeat(auto-fit, minmax(15rem, 1fr))
}

.services article {
    width: 100%;
    
}
    .services{
        padding: 0rem;
        padding-bottom: 2rem;
    }


    .articles h2{
        font-size: 2rem;
    }

    .articles li{
        font-size: 1.2rem;
  }
  .socialMedia h2 {
    padding: 0rem 16.0625rem 2rem 5.0625rem;
  
}

.illustration h2 {
    padding: 0rem 16.0625rem 4rem 3.375rem;
   
}

.webDesign h2 {
    padding: 0rem 16.0625rem 2rem 5.0625rem;

  
}

.motionGraphics h2 {
    padding: 0rem 16.0625rem 2rem 5.0625rem;

}


 /* WORK */

 
 .work{
 }


 .foto{
    flex-direction: column;
    height:fit-content;
  }
 
  .foto img{
  height: 60vh
  }

  .ourWork  h1 {
    font-size: 1.25rem;
}

} 