@media (max-width: 768px){

    /* INDEX */

    header{
    padding: .3125rem 2rem;
    .navbar-brand{
        img{
            height: 3.125rem;
        }
    }
    }

    .formGroup input {
            font-size: 1.75rem;
    }

    .section1-footer{
    :first-child{
        img{
            height: 3.125rem;
        }
    }
    }

    footer .section2-footer{
        p{
            font-size: .9375rem;
            top: 1.25rem
        }
    }
    }

/* SERVICES*/

.section1-services{
    padding: 0rem 5rem;
    h1{
        font-size: 2.5rem;
    }
    .cards{
        h2{
            font-size: 3rem;
        }
        li{
            font-size: 2rem;
        }
    }
}
.motionGraphics h2{
color: rgb(22, 0, 109);
padding: 0rem 16.0625rem 2rem 5.0625rem;
}

.illustration h2{
color:rgb(248, 98, 63);
padding: 0rem 16.0625rem 4rem 3.375rem;
}

.socialMedia h2 {
padding: 0rem 16.0625rem 2rem 5.0625rem;
}

.webDesign h2 {
padding: 0rem 16.0625rem 2rem 5.0625rem;
}

/* WORK*/

.section1-work .titulo-work h1{
        font-size: 2.5rem;
}

/* ABOUT*/

.section1-about{
    flex-direction: column;
    gap: 1.875rem;
    .texto-section1-about{
        h1{
            font-size: 3.5rem;
        }
    
        p{
            font-size: 1.5rem;
            width: 31.25rem;
        }
    }
    .imagen-section1-about{
        img{
            height: 75%;
        }
    }
    
}

.section2-about{
    .sofia{
        flex-direction: column;
        .nombre{
            justify-content: center;
            text-align: center;
        }
    }
    .mauge{
        flex-direction: column;
        .nombre{
            justify-content: center;
            text-align: center;
        }
    }
    .cami{
        flex-direction: column;
        .nombre{
            justify-content: center;
            text-align: center;
        }
    }
}

/* CONTACT*/
.section1-contact .texto-section1-contact{
    gap: 1.875rem;
    h1{
        font-size: 4.5rem;
    }
    p{
        font-size: 1.5rem;
        width: 35rem;
    }
}

.section1-contact{
    .mainContainer{
        .contenedorForm2{
            .formGroup2{
                input{
                    width: 31.25rem;
                    padding: 0.5rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

::placeholder{
    font-size: 1.5rem;
    
}
.botonEnviar2{
    width: 13.5rem;
    height: 2.875rem;
    p{
        font-size: 1.5rem;
    }

}




